html[data-theme="Green"] {
  scrollbar-color: var(--font-color-prompt-title) var(--background-color) !important;
}

:root[data-theme="Green"] {
  /* Color Variables */
  --background-color: #3c3c3c !important;
  --accent-color: linear-gradient(0deg, #3aea3a 0%, #59eb5a 100%) !important;
  --accent-color2: linear-gradient(0deg, #3aea3a 0%, #59eb5a 100%) !important;
  --accent-color3: linear-gradient(0deg, #3db43d 0%, #43c343 100%) !important;

  --matchform-sectionbox-background-color: rgba(0, 0, 0, 0.1) !important;

  --hamburger-color: var(--font-color);
  --hamburger-color-checked: var(--font-color-prompt-title);

  --blue-color: #9bcbfb !important;
  --error-color: var(--disabled-color) !important;
  --disabled-color: #717172 !important;

  --font-color: black !important;
  --font-color-prompt-title: white !important;
  --font-color-header: white !important;

  --drop-shadow-color: #626263 !important;
  --sidenav-hover-color: linear-gradient(
    0deg,
    #3aea3a 0%,
    #59eb5a 100%
  ) !important;
  --faded-text-color: #5f6167 !important;

  --kelly-green: #4cbb17 !important;
  --error-message-color: var(--disabled-color) !important;
  --check-background-color: #4cbb17 !important;
  --checkbox-default-color: #eee !important;
  --checkbox-hover-color: #ccc !important;
  --border-color-faded: #d9d9db !important;
  --border-color-active: #4cbb17 !important;
  --sidenav-button-color: #dfdfdf !important;
}
